@import "tailwindcss";

:root {
  --background: #1d1c1c;
  --foreground: #bfbab0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-pt-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1c1c;
    --foreground: #bfbab0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
